/*MASTER STYLES*/

body {
    margin: 0px; /*this will override browser default of 8pt margin*/
}


.container {
    display: grid; /*using the CSS Grid for the overall layout, and flexbox for aligning individual elements*/
    grid-template-columns: 1fr; /*Creating template columns of one fractional unit, which means entire layout will have columns that take up 100 percent. So now each child element of container will fill up a column across the page - basically full-bleed*/
}


/*NAV STYLES*/

.nav-wrapper {
    display: flex; /*flexbox will ignore everything inside the child elements of divs, so to flexbox, this is only showing two columns (the right-side class and lef-side class)*/
    justify-content: space-between; /*this will justify (left and right in this case for both columns) and space the content in the div using all the space in between the two divs*/
    padding: 38px;

}

.left-side {
    display: flex; /*this will de-stack the links in the nav and display them next to each other*/

}

.nav-wrapper > .left-side > div {
    margin-right: 20px; /*give us some space between nav links*/
    font-size: 0.9em; /*em is a percent of what the font size would normally be for browswer defaults*/
    text-transform: uppercase; /*this will make all the font as uppercase. Useful in the case of links especially*/

}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent; /*instead of using an underline, can simulate the udnerline effect by fading in a thin border bottom (border as in box-model content border)*/
    transition: border-bottom 0.5s; /* */
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color .5s; /*this will animate or fade-in the underline on any element that is a n <a> links*/
}

.nav-link-wrapper:hover { /*checks for the psuedo state of hover when the mouse is hovering over any element in the nav wrapper*/
    border-bottom: 1px solid black
}

.nav-link-wrapper a:hover { /*two different hover states - one for the link, and one for the elements in the div, to get the fade in and out effect*/
    color: black;
}

/*PORTFOLIO STYLES*/

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr /*because I don't want each project to take up a whole row in the grid, I'm designated three columns, so each project gets their own full sized column.*/
}

.portfolio-item-wrapper {
    position: relative; /*this will allow me to position each element (and their contents) inside the item wrapper.  This is required for using positive: absolute later in the img=text-wrapper*/

}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover; /*because i don't have images that are the same size, this will crop images so they all sit nicely next to each other*/
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute; /*have to force an element someplace where it usually doesn't go, in order to do this we have to have a parent element in a relative position.*/
    top: 0; /*positions at the very top*/
    display: flex;
    flex-direction: column;
    justify-content: center; /*centers items in the wrapper left to right*/
    align-items: center; /*centers items in the wrapper top to bottom*/
    height: 100%; /*take up the full parent element height*/
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
}
